<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title></title>
</head>

<body>

    <div class="banner">
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">HOME</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <img class="output" src="{{ url_for('static',filename='untitled.jpg') }}"></body>
<h3>
    <span>PREDICTION:</span>{{prediction}}
</h3>
</div>

</div>




</html>